<!--- START ABOUT------>


<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<div class="container-fluid" id="about">
      <div class="container anchor" id="process"></div>

      <div class="gridbox gridheader">
        <div class="header">
         <h1>ABOUT</h1>
        </div>
      </div> 

      <div class="jumbotron">
        <div class="transbox">
          <h2><strong>web developer</strong></h2>
          <p><strong>It was 2005 when i wrote my first time line of code. Since then my passion for development is still growing, every day more! With code I can discover a new world and it is the way I can express my imagination. In the end, is so rewarding to see the result of it in the shape of a beautiful website or app.. I am a positive person and I'm always open to new challenges.Most important, web development is a fun experience. Contact me if you have a project and want to know more.<a href="#FAQ" data-toggle="tooltip" title="" id="item1" data-original-title="More about me">More about me.</a></strong></p>
        </div> <br><br><br><br>             
      </div><br>
         
      <div class="container"><!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
              <h4><strong>What is Web development?</strong></h4><br>
              <img id="imageabout" src="img/about1.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br>
              <p>Web development is a broad term for the work involved in developing a web site for the Internet or a private network. Web development can range from developing  simple page to the most complex web-based internet applications, electronic businesses, and social network services.</p>
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">More</button>
            </div>
              <script>
               $(function () {
               $('[data-toggle="tooltip"]').tooltip();
                             });
              </script>            
            <div class="col-md-4">              
              <h4><strong>Why to learn Web development?</strong></h4><br>
              <img id="imageabout" src="img/about2.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"><br>      
              <p>Beginning web development is relatively easy - you only need your web browser and an editor. Both should be installed on your computer already.Web development let's you express yourself. You can try everything you want and share it with the world.</p>
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">More</button>
            </div>
            <div class="col-md-4">              
              <h4><strong>What is the Difference Between Web Design and Web Development?</strong></h4>
              <img id="imageabout" src="img/about3.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">      
              <p>Web development is the back-end of the website, the programming and interactions on the pages.<br>Web design is the customer-facing part of the website. A web designer is concerned with how a site looks and how the customers interact with it.</p>
              <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">More</button>
            </div>
        </div>
      </div><br><br><br>    
      <div class="gridbox griddown"></div>
  </div>
