








<div class="container-fluid" id="work">
  <div class="container anchor" id="process"></div>
    <div class="gridbox gridheader">
      <div class="header">
        <h1>MY WORK</h1>
      </div>
    </div> 
     
    <div class="row">
      <div class="col-md-12">
        <!--iframe  id="youtube" width="580" height="335" src="https://www.youtube.com/embed/Pwrwf_8H25Y" frameborder="0" allowfullscreen></iframe-->
      </div>  
    </div>

    <div class="row">
      <div class="col-md-3 text-center">
        <div class="image" id="0"></div>
      </div>
      <div class="col-md-3 text-center">
        <div class="image" id="1"></div>
      </div>
      <div class="col-md-3 text-center">
          <div class="image" id="2"></div>
      </div>      
      <div class="col-md-3 text-center">
        <div class="image" id="3"></div>
      </div>  
    </div>  

</div><!--END WORK.HTML-->