

<!--START DESTINATION-->


<div class="container-fluid" id="work">
  <div class="container anchor" id="process"></div>
    <div class="destination_header">
      <h1>Destinations All Over The World</h1>
    </div>
         
    <div class="row">
      <div class="col-md-12">
        <!--iframe  id="youtube" width="580" height="335" src="https://www.youtube.com/embed/Pwrwf_8H25Y" frameborder="0" allowfullscreen></iframe-->
      </div> 
   <span id="result">&nbsp;</span>
<div id='demo' style="background-color:blue;"></div>
<div id='demo' style="background-color:rgb(15,99,30);"></div>
<div id='demo' style="background-color:#123456;"></div>
<div id='demo' style="background-color:#f11;"></div>
 

    <div class="col-md-4">  
      <div class="image" id="diving00"> 
      <p></p>    
        <%= image_tag "dest05.jpeg", alt: "finger cymbals", class: "product" %>
        </div> 
    
        </div>

</div><!--END DESTINATION---->

<script>
$( "div" ).click(function() {
  var color = $( this ).css( "background-color" );
  $( "#result" ).html( "That div is <span style='color:" +
    color + ";'>" + color + "</span>." );
});
</script>