

<!--START DESTINATION-->


<div class="container-fluid" id="work">
  <div class="container anchor" id="process"></div>
    <div class="gridbox gridheader">
      <div class="header">
        <h1>Destinations All Over The World</h1>
      </div>
    </div> 
     
    <div class="row">
      <div class="col-md-12">
        <!--iframe  id="youtube" width="580" height="335" src="https://www.youtube.com/embed/Pwrwf_8H25Y" frameborder="0" allowfullscreen></iframe-->
      </div> 
    </div>  
    <div class="image" id="diving00">
     
      <%= image_tag "dest05.jpeg", alt: "finger cymbals", class: "product" %> 
    </div>
    

</div><!--END DESTINATION--->