 <div class="container" id="FAQ">
  <div class="container anchor" id="process"></div>
  <div class="gridbox gridheader">
      <div class="header">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>      
         
        <table>         
            <tr class="my-row">
              <th>HEADER 1</th>
              <th>HEADER 2</th>
              <th>HEADER 3</th>
            </tr>
            <tr class="my-row">
              <td>DODY 1</td>
              <td>DODY 2</td>
              <td>DODY 3</td>
            </tr>
            <tr class="my-row">
              <td>DODY 1</td>
              <td>DODY 2</td>
              <td>DODY 3</td>
            </tr>
            <tr class="my-row">
              <td>DODY 1</td>
              <td>DODY 2</td>
              <td>DODY 3</td>
            </tr>          
        </table><br><br> 
        <div class="row">       
       <h3 class="learn-more">Learn More</h3>  
        <!-- Trigger the modal with a button -->          
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#example-modal-lg" >Learn More</button>            
          <!-- Modal -->
            <div class="modal fade" id="example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" and data-keyboard="false">
              <div class="modal-dialog modal-lg">
               <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Summary</h4>
                  </div>
                  <div class="modal-body">
                   <iframe id="modalframe" src="docs/summary.pdf">
                   </iframe>
                  </div><!--end modal-body-->
                </div><!--end modal-content-->
              </div><!--end modal-dialog modal-lg-->
            </div><!-- end modal fade bs-example-modal-lg-->
      </div> <!--end row-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Why did you decide to become a web developer?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p id="answer">I wrote first code in 2005. I loved it! A  world of internet  is enriching our relationship with technology. Is the way that i can express everything that i have in my mind.</p>
            </div>
          </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTow">
            What job are you looking for?
            </a>
          </h4>
        </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
        <p id="answer">I'd like my  job to be challenging, and let me use my education and experience. It's important to me to continue learning, and exercise my problem solving skills,  in areas like  web development, Jr. Ruby on Rails developer and design.</p>
        </div>
       </div>
      </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
          What kinds of projects will I be working on?
        </a>
      </h4>
    </div>
    <div id="collapseTree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTree">
      <div class="panel-body">
        <p id="answer">All the web  development projects which include technologies like html,css, javascript,mysql, jr.Ruby on Rails, illustrator.Contact me if you have a project and want to know more.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          What motivates you?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p id="answer">Learning new things has always been a great motivator for me. From every job I've had, I believe I've always been able to learn something new, or a new way to look at a problem.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          What are your goals for the next few years?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p id="answer">During the next few years, I would like to finish up the requirements for my degree. I'm taking courses year round, so that I'll have time to work and spend time with my family also.</p>
      </div>
    </div>
  </div>
</div>
</div>